.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.setbg{
  background-image: url('https://3.bp.blogspot.com/-tJU0LDSKMIE/UtlWV9EwhBI/AAAAAAAAF3Y/WTNhbcVjZeI/s1600/orange-web-background.jpg');
  background-size: cover;
}
.divpad{
  margin-top: 50px;
}
.headerdiv{
  background-color: #E91E63;
}
.font_header{
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  font-style: italic;
  color:#fff;
}
.divpadmore{
  padding-left:60px;
  margin-top: 60px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.transform{
  transform: translateX(-100%);
}
.imgContent{
  border-radius:50%;
  padding:30px;
}
.textjustify{
  text-align: justify;
}
:root {
    --space: 1.5em 0;
    --space: 2em 0;
}

.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Site-content {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    width: 100%;
}

.Site-content:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
}
a.active { color: #f00 }
.center-row{
      margin-top:100px;
}

#project-box {
  display: inline-block;
  width: 60%;
  margin: 20px;
  background-color: pink;
  padding-top: 15px;
  margin-left: 90px;
}
.project-pic {
  padding-top: 10px;
  height: 250px;
  width: 350px;
  margin-top: 5px;
}
.outline{
  border: 1px solid black;
}
.padtop{
  padding-top: 20px;
}
.setimgwidth{
    max-width: 100%;
}
.height { max-height:500px;  overflow:auto; }
.section-features{
  padding:40px;
  text-align:center;
  font-size: 20px;
}
.card-title{
  font-style: italic;
}
